[alias]
  st = status
  cm = commit
  ch = checkout
  s = stash save
  df = diff
  pl = pull
  ps = push
  pso = push -u origin
  cp = cherry-pick
  br = branch

[commit]
  template = ~/.commit_template
